# Ignore the entire data folder and its contents
data/*
data/train/*
data/test/*
outputs/preprocessed/train/*
outputs/preprocessed/val/*
# outputs/preprocessed/
# outputs/*
outputs/embeddings/*
outputs/models/*
# outputs/models
logs/*.env
